<!DOCTYPE html>
<html lang="ru">
<style type="text/css">
   #block {
   border: 4px solid blue;
   margin: 50px;
   width: 30%
     }
   #form{
   margin: 15px;
   }

</style>
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
          integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Парсинг стены VK</title>
</head>
<body>
<div id="block">
    <form class="pure-form pure-form-stacked" id="form" action="" method="post">
        {{ form.hidden_tag() }}
        <legend><h3>Введите ссылку на группу или сообщество:</h3></legend>
        <div class="pure-u-1">{{ form.link.label()}} {{form.link()}}</div>
        <hr>
        <legend>Укажите дату, начиная с которой требуется получить данные:</legend>
        <div class="pure-u-1">{{ form.day.label() }} {{form.day()}}</div>
        <div class="pure-u-1">{{ form.month.label()}} {{form.month()}}</div>
        <div class="pure-u-1">{{ form.year.label()}} {{form.year()}}</div>
        <hr>
        <div class="pure-button pure-button-primary">{{form.submit()}}</div>
    </form>
</div>
</body>
</html>